*.exe
Weather/obj/Debug/Weather.pdb
*.cache
Weather/obj/Debug/Weather.csproj.FileListAbsolute.txt
*.suo
Weather/bin/Debug/Weather.exe.config
Weather/bin/Debug/Weather.pdb
Weather/bin/Debug/Weather.vshost.exe.manifest
Weather/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Weather/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Weather/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Weather/bin/Debug/Weather.vshost.exe.config
Weather/API_KEY.txt